body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #68082e;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #b6959c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(234, 120, 215, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #461023;
}

.form-container {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #702e51dd;
    border-radius: 5px;
}

.form-group select {
    cursor: pointer;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4c223f;
    color: #edcedd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #820c47;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #9e8199;
    color: #0f0f0f;
}
